.select{
    text-align: center;
    margin: 2rem;
    padding:0.2rem 0.3rem;
    border: 1px solid #10c293;
    height: 3rem;
    font-size: 1.7rem;
    color: #000000;
    width: 700px;
    background-color:#d5f4e6;;
}
.selectOption{
    display: flex;
    text-align: center;
    width: 700px;
}